<html>


<div id="signin-box" class="login-popup">

  <form method="post" class="signin" action="/login">
    <a href="/" class="close"><img src="http://www.massterlist.com/wp-content/uploads/xyz_lbx/xyz_cls/8_close-button-red-small.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <fieldset class="textbox">
        <label class="username">
        <span>Email</span>
        <input id="email" name="email" value="" type="text" autocomplete="on" placeholder="Email">
        </label>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        </label>
        <button type="submit button" class="btn  btn-default"><a href="/" class="login-window">Login</a></button>
        </fieldset>
  </form>

  </html>
