<!DOCTYPE html>
<head>
    <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href=" /stylesheets/style.css">
  <script src="/script/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<style>
body{
    background-image: url('http://jasoncouponking.com/wp-content/uploads/2015/03/Cool-Green-Background-Drawing-of-Green-Spring-Leaves.jpg');
    background-size: cover;
    background-attachment: fixed;
}

</style>
</head>
<body>
  <% include ../partials/logout_nav %>

<!-- THIS PAGE DOES RENDER, BUT NEEDS TO BE STYLED -->


<ul>

  <li class="city" ><a href="">London</a></li>
<div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="http://media-cache-ec0.pinimg.com/736x/8b/48/8c/8b488c9e93a79aa9ce74124fdd4f1cd2.jpg" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
</div>
  <li class="city" ><a href="">New York</a></li>
  <div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="http://affordableartfair.com/newyork/files/2013/08/newyorkcity.jpg" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Paris</a></li>
  <div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNNuILQdoKfAw4-azPBL_u5VzRQQicPi0y0g6t7aZY286CfdBV" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">San Fransisco</a></li>
  <div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="https://mjazmin.files.wordpress.com/2013/03/img_1155.jpg" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Shanghai</a></li>
  <div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="https://s-media-cache-ak0.pinimg.com/236x/91/b6/cd/91b6cdc28b7b335e574e50aa62b8ea60.jpg" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Mumbai</a></li>
  <div class="thumbs">
    <div class="thumb"><img class="thumb_pic" src="http://farm8.static.flickr.com/7226/7206375998_cf1b28beaf_m.jpg" onclick="window.open(this.src)" /></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
</ul>


</body>
</html>
