<!DOCTYPE html>
<head>

  <link rel="stylesheet" type="text/css" href=" /stylesheets/style.css">
  <script src="/script/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>



</head>
<body>
  <div id="locations_background"></div>

<!-- THIS PAGE DOES RENDER, BUT NEEDS TO BE STYLED -->


<h1>Cities</h1>

<ul>

  <li class="city" ><a href="">London</a></li>
<div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
</div>
  <li class="city" ><a href="">New York</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Paris</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">San Fransisco</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Shanghai</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li class="city" ><a href="">Mumbai</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
</ul>


</body>
</html>
