<!DOCTYPE html>
<head>
    <% include ../partials/head %>
<style>
body{
    background-image: url('http://www.hdwallpapersllc.com/wp-content/uploads/2015/07/6818236-background-wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
}
</style>
</head>
<body>
  <% include ../partials/nav %>


<div id="upper"></div>

  <ul id="location_index_ul">
    <% locations.forEach(function(location) { %>
      <a href="/locations/<%= location.id %>">
        <div class="thumbs" id="thumb_<%= location.snakeName() %>">
          <li class="city" ><p class="city_name"><%= location.name %></p></li>
        </div>
      </a>
    <% }) %>
  </ul>


</body>
</html>
