<head>
  <% include partials/head %>
</head>
<body>
<% include partials/nav %>



<h1>Cities</h1>

<ul>
  <li><a href="">London</a></li>
<div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
</div>
  <li><a href="">New York</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li><a href="">Paris</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li><a href="">San Fransisco</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li><a href="">Shanghai</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
  <li><a href="">Mumbai</a></li>
  <div class="thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
  </div>
</ul>


</body>
</html>
