<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
<style>

body{
    background-image: url('https://secure.static.tumblr.com/24a9548d2580cd18e4b7a6d818f1737c/8w4ovhp/Mjcn2besk/tumblr_static_4-blue-watercolor-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
</style>

</head>
<body>
  <% include ../partials/nav %>

  <p class="siteName_city"><%= location %></p>

  <button id="my_list_button" type="button" ">Add this City to my List</button>


  <div class="city_thumbs">
      <p id="instagram_pics">Instagram Pics</p>

      <% instagramData.forEach(function(photo){ %>

      <div class="thumb"><img class="thumb_pic" src="<%= photo %>" onclick="window.open(this.src)" />

     </div>

      <% });%>

  </div>

  <div id="costs">
      <p id="city_name"></p>
      <table>
        <caption id="city_expense">Living Expenses for <%= location %></caption>

  </div>

</body>
</html>
