<!DOCTYPE html>
<!-- THIS PAGE DOES RENDER, BUT NEEDS TO BE STYLED -->
<!-- <br>
<br>
 --><!-- This is the page where a single location will be rendered.
So code will need to be written referencing location id. -->
<!-- <br> -->
<!-- Logged in users have the option to add/save the location to their profile. -->
<!-- <br>
<br> -->

<html>
<head>
    <link rel="stylesheet" type="text/css" href=" /stylesheets/style.css">
  <script src="/script/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<style>
body{
    background-image: url('https://secure.static.tumblr.com/24a9548d2580cd18e4b7a6d818f1737c/8w4ovhp/Mjcn2besk/tumblr_static_4-blue-watercolor-background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

</style>

</head>
<body>
<!-- <div id="show_back"></div> -->


<p class="siteName_city">city</p>

<div id="droplist_city" style="margin-bottom: 20px;">
<select id="drop">
  <option selected disabled>Choose a City</option>
  <option>London</option>
  <option>New York</option>
  <option>Shanghai</option>
  <option>Paris</option>
  <option>San Fransisco</option>
  <option>Mumbai</option>
</select>

<button id="button" type="button" class="btn btn-default"><a href="locations/show" title="">GO!</a></button>

</div>

<div class="city_thumbs">
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
    <div class="thumb"></div>
</div>

<div id="costs">
  <ul id="costs_ul">
    <p id="city_name">city</p>
    <li>cost 1</li>
    <li>cost 2</li>
    <li>cost 3</li>
  </ul>

</div>





</body>
</html>
