<nav class="navynav" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <a id="title" class="navbar-brand" href="/">Escape! Adventures</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/locations/">Browse Cities</a></li>
      <li><a href="/users/<%= user.id %>">My Profile</a></li>

    </ul>
    <form class="navbar-form navbar-right" role="search">

<div>
<select class="droplist" onChange="window.location.href=this.value">
  <option selected disabled>Choose a City</option>
  <option value="/locations/728021537">London</option>
  <option value="/locations/523722982">Mumbai</option>
  <option value="/locations/35932492">New York</option>
  <option value="/locations/301343440">Paris</option>
  <option value="/locations/167346217">San Fransisco</option>
  <option value="/locations/213193384">Shanghai</option>
</select>



</div>

      <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="User Login">
      </div> -->
<!--       <button type="submit"   class="btn btn-default "><a href="#login-box" class="login-window">Login / Sign In</a></button> -->
      <!-- <button type="submit" class="btn btn-default cd-signup" href="#0">Signup</button> -->
      <!-- <button type="button" class="btn  btn-default"><a href="#login-box" class="login-window">Login / Sign Up</a></button> -->



      <!-- <button type="submit" class="btn btn-default"><a href="/users/show">My Profile</button> -->


      <button type="submit" class="btn btn-default"><a href="/register">Signup</button>
      <button type="button" class="btn  btn-default"><a href="/login" class="login-window">Login</a></button>

    </form>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#">Link</a></li> -->

    </ul>
  </div><!-- /.navbar-collapse -->


</nav>
