<nav class="navynav" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <a id="title" class="navbar-brand" href="/">Escape! Adventures</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/locations/">Browse Cities</a></li>
      <li><a href="/users/<%= user.id %>">My Profile</a></li>

    </ul>
    <form class="navbar-form navbar-right" role="search">


    <select class="droplist" onChange="window.location.href=this.value">
      <option selected disabled>Choose a City</option>
      <option value="/locations/728021537">London</option>
      <option value="/locations/523722982">Mumbai</option>
      <option value="/locations/35932492">New York</option>
      <option value="/locations/301343440">Paris</option>
      <option value="/locations/167346217">San Fransisco</option>
      <option value="/locations/213193384">Shanghai</option>
    </select>


      <button type="button" class="btn  btn-default"><a href="/users/<%= user.id %>/edit" class="login-window">Edit Profile</a></button>


      <button type="button" class="btn  btn-default"><a href="/" class="login-window">Logout</a></button>


<!-- dropdown menu for user -->
<!-- <select class="dropdown_user" onChange="window.location.href=this.value">
  <option selected disabled>User Options</option>
  <option value="#">Logout</option>
  <option value="#">Edit Profile</option>
  <option value="#">Delete Profile</option>
</select> -->

    </form>
    <ul class="nav navbar-nav navbar-right">

    </ul>
  </div><!-- /.navbar-collapse -->


</nav>
