
<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>

  <script src="/script/javascript.js"></script>


</head>

<body>

<% include partials/nav %>


<div id="pictures">
  <div class="rotating-item-wrapper">

    <!-- planet -->
    <img class="rotating-item" src="http://i.kinja-img.com/gawker-media/image/upload/jour87ix9aoikm1zpjct.jpg" />

    <!-- city at night -->
     <img class="rotating-item" src="http://iliketowastemytime.com/sites/default/files/modern-city-wallpaper.jpg"  />

     <!--girl on train -->
     <img class="rotating-item" src="http://i.huffpost.com/gen/1455940/images/o-TRAVELING-ALONE-facebook.jpg"  />

     <!-- girl on moutain -->
     <img class="rotating-item" src="http://cdnstatic-2.mydestination.com/blog/wp-content/uploads/2013/06/shutterstock_133339211-Copy.jpg"   />

     <!-- golden gate bridge -->
     <img class="rotating-item" src="http://www.traveltats.com/wp-content/uploads/golden-gate-bridge-wallpaper-big.jpg" />

     <!-- suitcase on beach -->
     <img class="rotating-item" src="http://cdn1.globetrottingstiletto.com/wp-content/uploads/2014/10/Travel-Insurance.jpg" />

     <!-- passport -->
    <img class="rotating-item" src="http://www.unh.edu/oiss/sites/www.unh.edu.oiss/files/general/world_travel.jpg" />


    <!-- compass -->
    <img class="rotating-item" src="http://www.desktopaper.com/wp-content/uploads/excellent-miscellaneous-old-compass-and-map-wallpaper.jpg" />
  </div>

</div>


<p class="siteName">Escape! Adventure Awaits!</p>


</body>
<footer>

</footer>

</html>
