<html>


<div id="signin-box" class="login-popup">

  <form method="post" class="signin" action="#">
    <a href="/" class="close"><img src="http://www.massterlist.com/wp-content/uploads/xyz_lbx/xyz_cls/8_close-button-red-small.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <fieldset class="textbox">
        <label class="username">
        <span>Username or email</span>
        <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
        </label>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        <input id="password" name="password" value="" type="password" placeholder="Re-enter Password">
        </label>
        <button type="submit button" class="btn  btn-default"><a href="/" class="login-window">Register</a></button>
        <p>
        <a class="forgot" href="#">Forgot your password?</a>
        </p>
        </fieldset>
  </form>

  </html>
