<!-- <div id="signin-box" class="login-popup">
 -->
  <form method="POST" class="signin" action="/register">
    <a href="/" class="close"><img src="http://www.massterlist.com/wp-content/uploads/xyz_lbx/xyz_cls/8_close-button-red-small.png" class="btn_close" title="Close Window" alt="Close" /></a>
        <fieldset class="textbox">
        <label class="name">
        <span>Name</span>
        <input id="name" name="name" value="" type="text" autocomplete="on" placeholder="Name">
        </label>
        <label class="email">
        <span>Email</span>
        <input id="email" name="email" value="" type="text" autocomplete="on" placeholder="Email">
        </label><br><br>
        <label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        <input id="password" name="password" value="" type="password" placeholder="Re-enter Password">
        </label>
        <input type="submit" class="btn  btn-default"></input>
        <p>
        <a class="forgot" href="#">Forgot your password?</a>
        </p>
        </fieldset>
  </form>
<!-- </div>
 -->
