<!-- This is the view of the user's profile page.

This page will include:

-locations saved by user
-the option to browse locations
-the option to edit their profile
-the option to delete their profile
-the option to log out -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

<style type="text/css">

body {
  background-image:url(http://khiri.com/wp-content/uploads/2013/08/Khiri-Travel-Began-Sunrise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #faebd7;
}

h1 {
  font-size: 60px;
}

h3 {
  margin-top: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #000;
}

.container1 {
  float: left;
  margin: 0;
  padding: 0;
}

.container2{

}

.col-sm-5 {
  padding-left: 40px;
  padding-top: 70px;
  margin-left: 150px;
  height: 100px;
  width: 250px;
  float: left;
}

</style>
<!-- CSS styling ends here -->
</head>
<body>
  <% include ../partials/user_show_nav.ejs %>
  <h1 class="text-center"><%= user.name %>'s Profile</h1>
  <div class="container">
    <div class="col-sm-5">
      <!-- <button type="button" class="btn btn-primary btn-lg">Edit My Profile</button></br> -->
    </div>
    <div class="col-sm-5">
  <!-- This will populate user's saved cities -->
      <h3 id="my_cities" class="pull-right">My Cities</h3>

    </div>
  </div>

<% if (user.location) { %>
  <% user.location.forEach(function(location){ %>
  <div id="thumbs_small">
  <a href="/locations/<%= location.id %>" >
    <img src="<%= location.image_uri %> ">
  </a>
  </div>
  <% }) %>
  <% } %>

</body>
</html>
