This is the view of the user's profile page.

This page will include:

-locations saved by user
-the option to browse locations
-the option to edit their profile
-the option to delete their profile
-the option to log out

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="stylesheets/style.css">
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1 class="text-center">My Profile</h1>
  <div class="container">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary">Browse Cities</button>
      <button type="button" class="btn btn-primary">Edit My Profile</button>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">My Cities</h3>
      <%=  %>
    </div>
  </div>
</body>
</html>
