<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" type="text/css" href=" /stylesheets/user_style.css">

</head>
<body>
  <% include ../partials/nav.ejs %>
  <h1 class="text-center user_name"><%= user.name %>'s Profile</h1>


  <!-- This will populate user's saved cities -->
  <!-- <h3 id="my_cities" class="text-center">My Cities</h3> -->
  <br>
  <h2>We are currently working on the location save feature for this page. Stay tuned.</h2>
    <h2>In the meantime, browse all of our current locations by clicking the 'Browse Cities' link above. </h2>

  <% if (user.location) { %>
    <% user.location.forEach(function(location){ %>
    <div class="thumbs_small">
    <a href="/locations/<%= location.id %>" >
      <img src="<%= location.image_uri %> ">
    </a>
    </div>
    <% }) %>
  <% } %>
</body>

</html>
