<!-- This is the view of the user's profile page.

This page will include:

-locations saved by user
-the option to browse locations
-the option to edit their profile
-the option to delete their profile
-the option to log out -->

<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
  <link rel="stylesheet" type="text/css" href=" /stylesheets/style.css">
  <script src="/script/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

<style type="text/css">

body {
  background-image:url(http://i764.photobucket.com/albums/xx286/lightsatnight/night-time-cities-01.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #faebd7;
}

h1 {
  font-size: 60px;
}

h3 {
  margin-top: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #000;


}

.container1 {
  float: left;
  margin: 0;
  padding: 0;
}

.container2{

}

.col-sm-5 {
  padding-left: 40px;
  padding-top: 70px;
  margin-left: 150px;
  height: 100px;
  width: 250px;
  float: left;
}

</style>
</head>
<body>
  <% include ../partials/user_show_nav.ejs %>
  <h1 class="text-center"><%=user.name%>'s Profile</h1>
  <div class="container">
    <div class="col-sm-5">
     <!--  <a href="../locations">
        <button type="button" class="btn btn-primary btn-lg">Browse Cities</button>
      </a> -->
      </br>
      <button type="button" class="btn btn-primary btn-lg">Edit My Profile</button></br>
    </div>
    <div class="col-sm-5">
      <h3 class="pull-right">My Cities</h3>

    </div>
  </div>

</body>
</html>
